__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv/

.ipynb_checkpoints/
*/.ipynb_checkpoints/

*.csv
*.xlsx
*.json
*.parquet
data/
datasets/

*.pkl
*.joblib
*.h5
*.model
models/
models/**

.vscode/
.idea/
.DS_Store
Thumbs.db