pandas
numpy
joblib
requests
beautifulsoup4
lxml
scikit-learn==1.7.2
xgboost==2.0.0
category-encoders
optuna
huggingface_hub
matplotlib
seaborn
plotly
altair>=5.0.0
streamlit>=1.43.0
folium==0.20.0
streamlit-folium>=0.25.0